<section  class="eventos-wrapper">
    <div class="card">
        <div class="card-header">
            <h2>Gran Colecta de Alimentos</h2>
        </div>
        <div class="card-body">
            <p>Si comopras Alimentos para perro o gato con el descuento especial, puedes donarlo al puesto de la organizacion ARI, que se encuentra en la entrada
                de las sigueitnes sucursales </p>
        </div>
        <div class="card-footer">
            <h3>Sucursales</h3>
            <ul>
                <li>Supermercados Mercados la colinia Loarque</li>
                <li>Supermercados la colonia Las Torres</li>
                <li>Supermercados La colonia Kenndy</li>
                <a class="Boton_ir" href="https://www.arihonduras.org/?fbclid=PAZXh0bgNhZW0CMTEAAafCoskKLw5JbHWjm7UGDghHAGsgAV3WIDR0NAI0ov-ZxP_Dp6TWoxvD4zQtOw_aem_NMEpFHv7B52RKCJq_3Mglg" target="_blank" class="btn-link">Ver sucursales</a>            </ul>
    </div>
</section>
<section  class="eventos-wrapper">
    <div class="card">
        <div class="card-header">
            <h2>Feria de Cuidado Aniamal</h2>
        </div>
        <div class="card-body">
            <p>QUÉ ENCONTRARAS? Gatitos en adopción Actividades de apoyo emocional con una perrita rehabilitada Productos exclusivos de nuestras marcas emprendedoras Mural interactivo</p>
        </div>
        <div class="card-footer">
            <h3>Feria de Cuidado Aniamal</h3>
            <ul>
                <li><strong>Unitec</strong> Gatitos en Adopción</li>
                <li><strong>Productos</strong>excusivos de nuestra marca</li>
                <li><strong>Mensaje</strong> Un mural interactivo</li>
                <a class="Boton_ir" href="https://www.instagram.com/p/DHPrMddOpBU/" target="_blank" class="btn-link">Ver ferias</a>            </ul>

            </ul>
    </div>
</section>
<section  class="eventos-wrapper">
    <div class="card">
        <div class="card-header">
            <h2>Eventos</h2>
        </div>
        <div class="card-body">
            <p>¡Bienvenidos a nuestra sección de eventos! Aquí encontrarás información sobre nuestras actividades y eventos próximos. ¡Únete a nosotros y sé parte de la comunidad!</p>
        </div>
        <div class="card-footer">
            <h3>Eventos Recientes</h3>
            <ul>
                <li><strong>Evento 1:</strong> Descripción del evento 1.</li>
                <li><strong>Evento 2:</strong> Descripción del evento 2.</li>
                <li><strong>Evento 3:</strong> Descripción del evento 3.</li>
                <a class="Boton_ir" href="https://www.instagram.com/p/DGhRYEbOUYB/?utm_source=ig_web_button_share_sheet&igsh=MzRlODBiNWFlZA==" target="_blank" class="btn-link">Ver Eventos</a>            </ul>

            </ul>
    </div>
</section>