<section class="Contexto">
    <h1 class="titulo">Eventos</h1>
    <p>Bienvenidos a la página de eventos de la Fundación ARI. Aquí podrás descubrir nuestras iniciativas, actividades y
        programas diseñados para promover el bienestar animal y fortalecer la conexión entre las personas y sus
        mascotas. Únete a nosotros para ser parte de esta misión y contribuir a un cambio positivo en nuestra comunidad.
    </p>
</section>
<section>
    <div class="card">
        <div class="card-header">
            <h2>Gran Colecta de Alimentos</h2>
        </div>
        <div class="card-body">
            <p>Si comopras Alimentos para perro o gato con el descuento especial, puedes donarlo al puesto de la
                organizacion ARI, que se encuentra en la entrada
                de las sigueitnes sucursales </p>
        </div>
        <div class="card-footer">
            <h3>Sucursales</h3>
            <ul>
                <li>Supermercados Mercados la colinia Loarque</li>
                <li>Supermercados la colonia Las Torres</li>
                <li>Supermercados La colonia Kenndy</li>
                <a class="Boton_ir" href="https://www.arihonduras.org/ayudar" target="_blank" class="btn-link">Ir a
                    ver</a>
            </ul>
        </div>
</section>
<section>
    <div class="card">
        <div class="card-header">
            <h2>Feria de Cuidado Animal</h2>
        </div>
        <div class="card-body">
            <p>QUÉ ENCONTRARAS? Gatitos en adopción Actividades de apoyo emocional con una perrita rehabilitada
                Productos exclusivos de nuestras marcas emprendedoras Mural interactivo</p>
        </div>
        <div class="card-footer">
            <h3>Feria de Cuidado Animal</h3>
            <ul>
                <li><strong>Unitec</strong> Gatitos en Adopción</li>
                <li><strong>Productos</strong>excusivos de nuestra marca</li>
                <li><strong>Mensaje</strong> Un mural interactivo</li>
                <a class="Boton_ir" href="https://www.instagram.com/p/DHPrMddOpBU/" target="_blank"
                    class="btn-link">Ferias</a>

            </ul>
        </div>
</section>
<section>
    <div class="card">
        <div class="card-header">
            <h2>Eventos</h2>
        </div>
        <div class="card-body">
            <p>Descubre nuestras actividades y eventos próximos. ¡Únete y sé parte de la comunidad!</p>
        </div>
        <div class="card-footer">
            <h3>Eventos Recientes</h3>
            <ul>
                <li><strong>Adopción:</strong> Jornada en el parque central.</li>
                <li><strong>Taller:</strong> Cuidado animal en Unitec.</li>
                <li><strong>Caminata:</strong> Por los derechos de los animales.</li>
                <a class="Boton_ir" href="https://www.instagram.com/p/DGhRYEbOUYB/" target="_blank" class="btn-link">Ver más</a>
            </ul>
        </div>
    </div>
</section>