<section class="faq-hero">
  <div class="faq-hero-image">
    <img src="/public/images/hero_faq.jpg" alt="Mascotas para adopción">
    <div class="faq-hero-overlay">
      <h1 class="faq-hero-title">Encuentra respuestas a tus preguntas</h1>
      <p class="faq-hero-subtitle">Todo lo que necesitas saber sobre el proceso de adopción y cuidado de mascotas</p>
    </div>
  </div>
</section>

<section class="faq-container">
  <h2 class="faq-title">¿Tienes alguna pregunta sobre la adopción?</h2>

  <div class="preguntas-wrapper">
    <div class="pregunta">
      <div class="pregunta-header">
        <span class="texto">¿Cuánto cuesta adoptar un gato o un perro?</span>
        <span class="icono"><i class="fas fa-plus"></i></span>
      </div>
      <div class="respuesta">
        <p>
            El costo de un perro y de un gato varía dependiendo del albergue o de la organización de rescate. 
            Puede oscilar dependiendo del tamaño y de la edad de la mascota. Durante los eventos de promoción, el costo puede reducirse de manera considerable.
            <br>
            Lo importante es saber que tu perro o gato está vacunado y si es lo suficientemente grande, ya podría estar esterilizado. Si adoptas un cachorro o un gatito que no ha sido esterilizado, 
            por favor pregunta cuál es el costo de este servicio ya que hay opciones de bajo costo y no solo ayuda a disminuir la población de mascotas, sino que también es bueno para la salud de tu mascota.
        </p>
        </div>
    </div>

    <div class="pregunta">
      <div class="pregunta-header">
        <span class="texto">¿Cuál es el proceso de adopción?</span>
        <span class="icono"><i class="fas fa-plus"></i></span>
      </div>
      <div class="respuesta">
        <p>
            El proceso de adopción varía de una organización a otra. Todas te pedirán que completes una solicitud de adopción y te harán algunas preguntas generales sobre tu familia y tus preparativos para llevarte una mascota a casa.
            <br>

            Por favor ten en cuenta que no todas las organizaciones utilizan estos formularios y que muchos albergues en tu área podrían tener lo que llamamos eventos de “adopción abierta”, los cuales se enfocan más en entender tu situación y 
            tu deseo de llevar una mascota a tu familia.
            <br>

            Además, algunos perros o gatos podrían tener varias solicitudes. Por favor no te desalientes, hay muchas mascotas en busca del amor que tú tienes para dar.
        </p>

      </div>
    </div>

    <div class="pregunta">
      <div class="pregunta-header">
        <span class="texto">Preguntas que debes considerar antes de elegir una mascota</span>
        <span class="icono"><i class="fas fa-plus"></i></span>
      </div>
      <div class="respuesta">
        <p>
            Cada tipo de mascota es diferente en términos de cuidado, alimentación, comportamiento, vivienda y exigencias del tiempo que hay que dedicarles.
            Aquí hay algunas preguntas que debes hacerte mientras consideras qué tipo de mascota adoptar:
            <br>
            <ul>
                <li>¿Qué tipo de mascota es el más adecuado para tu hogar? ¿Grande/mediano/pequeño?</li>
                <li>¿Podrás vivir en medio de los pelos de tu mascota, una caja de arena, o el daño ocasional a tus pertenencias, causado por las mascotas?</li>
                <li>Si tienes hijos, ¿cómo les afectará a ellos tener una mascota? ¿Todos en tu casa recibirán con gusto a una mascota?</li>
                <li>Si estás alquilando, ¿el propietario tiene restricciones de peso o raza?</li>
                <li>¿Cuál es tu nivel de actividad? Hay mascotas que requieren menos ejercicio, mientras que otras requieren más caminatas y otras oportunidades de dar rienda a su energía.</li>
            </ul>
           
            Hay muchos perros, gatos, conejos y otras mascotas maravillosos en la mayoría de los albergues locales de mascotas. También hay grupos de rescate 
            para muchas razas específicas de perros y otros tipos de mascotas. Si estás pensando en obtener una raza de perro en particular, te conviene informarte 
            sobre las distintas razas antes de decidir qué tipo de perro adoptar. Las diferentes razas de perros tienen características distintas.
            <br>

            El personal de tu albergue local de mascotas puede ayudarte a encontrar la mascota adecuada para ti. Ellos conocen a las mascotas que están a su cargo,
             y pueden ayudarte a encontrar una buena combinación para tu personalidad y tu estilo de vida.
        </p>      
      </div>
    </div>

    <div class="pregunta">
      <div class="pregunta-header">
        <span class="texto">¿Cachorros o perros?</span>
        <span class="icono"><i class="fas fa-plus"></i></span>
      </div>
      <div class="respuesta">
        <p>
            Los perros son seres muy sociables; no están contentos si los dejan afuera, o si están solos y encadenados en el patio todo el tiempo. Si estás pensando en 
            adoptar un perro, sacarlo a pasear es una excelente manera de darle un poco de estimulación mental y física.
            <br>

            Además, considera cuidadosamente qué tipo de perro buscar. Adoptar un cachorro es un gran compromiso, ya que no se puede dejar a un cachorro solo en casa todo el día. 
            La mayoría de los cachorros necesitan hacer sus necesidades cada dos horas más o menos. Además, a los cachorros hay que entrenarlos para que hagan sus necesidades en el 
            lugar apropiado. Si uno no interactúa con los cachorros a menudo y no se los pone en contacto con otros animales cuando tienen una corta edad, se volverán tímidos y temerosos.
            <br>

            Los perros necesitan tener bastante interacción con sus humanos para estar contentos. Todos los perros deben caminar al menos una vez al día fuera de su territorio, pero algunos 
            perros necesitan mucho más. Ten en cuenta que no todos los perros pequeños son menos activos y no todos los perros grandes necesitan mucho ejercicio. Es aconsejable que te informes 
            bien sobre las características del perro que estás pensando en obtener, incluso si se trata de una raza mixta, para ver si hay compatibilidad contigo

            <br>

            Sea cual sea el perro que elijas, ten en cuenta que estás haciendo un compromiso a largo plazo, ya que los perros viven 10 a?os o más. Tu perro necesitará atención y amor.
        </p>
      </div>
    </div>

    <div class="pregunta">
      <div class="pregunta-header">
        <span class="texto">¿Gatitos o gatos?</span>
        <span class="icono"><i class="fas fa-plus"></i></span>
      </div>
      <div class="respuesta">
        <p>
            Contrariamente a la opinión popular, muchos gatos son mascotas sociables y aman recibir atención por parte de las personas. Aunque la mayoría de los gatos no requieren tanta atención 
            como los perros, de todos modos también necesitan tiempo de juego y caricias a diario. Pasar tiempo todos los días con tu gatito puede marcar la diferencia entre un gato feliz y un gato aburrido.
            <br>

            Si vas a un albergue o te pones en contacto con un grupo de rescate local para adoptar un gato, ellos podrán aconsejarte sobre las personalidades de los gatos que tienen a su cargo y ayudarte a elegir 
            el gato adecuado para ti.

            Aquí hay algunas otras cosas que necesitas saber antes de adoptar un gato:
            <br>
            <ul>
                <li>Los gatos son muy exigentes con sus hábitos relacionados con la caja de arena, por lo que es importante mantener la caja de arena limpia y fresca.</li>
                <li>Los gatos pueden vivir hasta 15 años o más, por lo que debes estar preparado a hacer un compromiso a largo plazo si adoptas un gatito.</li>
                <li>Los gatos necesitan rascarse, por lo que es necesario contar con un poste de rascado resistente. Cortarle las garras para proteger tus muebles 
                    es innecesario y cruel. El corte de garras, que implica la eliminación del primer nudillo de cada dedo del pie, es algo extremadamente doloroso para el gato. 
                    Puedes aprender a recortarle las garras para evitar que dañe tus muebles. Además de los postes para rascarse, hay muchos otros productos disponibles en las tiendas
                    de artículos para mascotas, que evitan que los gatos dañen los muebles.
                </li>
                <li>Los gatos tienen diferentes personalidades. A algunos les gusta que los carguen y los acurruquen; otros son más distantes y no les gusta que los alcen. Por lo tanto, 
                    prepárate para adaptarte a los rasgos de personalidad individuales de tu nuevo gato.
                </li>
            </ul>

            Los gatos adoptados viven en interiores, ya que es un lugar mucho más seguro para ellos. Los gatitos de interior viven más tiempo y generalmente son más saludables.
            <br>
            ¡Los gatos pueden ser maravillosos compañeros, que requieren poco mantenimiento!
        </p>
      </div>
    </div>
  </div>
</section>
