<footer>
  <h2>Siguenos en nuestras redes sociales</h2>
  <div class="social-icons">
    {{#each iconsSummary}}
      <a href="{{iconUrl}}" target="_blank" rel="noopener noreferrer">
        <i class="{{iconImg}}"></i>
      </a>
    {{/each}}
  </div>
  <p>&copy; 2025 Fundacion ARI HN. All rights reserved.</p>
</footer>