<section class="adopciones-container">
  <h1 class="adopciones-title">Nuestros Peluditos</h1>
  <div class="cards-wrapper">
    
    {{! --- Card ejemplo --- }}
    <div class="card">
      <img src="/images/cutiepie1.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie2.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie3.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie4.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie5.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie6.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie7.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie8.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie9.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie10.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie11.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie12.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie13.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie14.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie15.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie16.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

  </div>
</section>
