<section class="adopciones-container">
  <h1 class="adopciones-title">Nuestros Peluditos</h1>
  <div class="cards-wrapper">
    
    {{! --- Card ejemplo --- }}
    <div class="card">
      <img src="/images/cutiepie1.jpg" alt="Moka" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Moka</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Alejandra Aguilar V.<br><span>Trujillo, Colón</span></p>
        <ul class="card-info">
          <li>Raza única</li>
          <li>Veterano (6 años o más)</li>
          <li>Hembra</li>
          <li>Grande (22 Kg a 45 Kg)</li>
          <li>Relajado</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Moka"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie2.jpg" alt="Max" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Max</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Carlos Martinez H.<br><span>Tegucigalpa, Francisco Morazán</span></p>
        <ul class="card-info">
          <li>Labrador Retriever</li>
          <li>Cachorro (10 meses)</li>
          <li>Macho</li>
          <li>Grande (27 Kg)</li>
          <li>Alegre y sociable</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Max"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie3.jpg" alt="Thor" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Thor</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Ana Garcia L.<br><span>San Pedro Sula, Cortés</span></p>
        <ul class="card-info">
          <li>Pastor Alemán</li>
          <li>Adulto (4 años)</li>
          <li>Macho</li>
          <li>Grande (35 Kg)</li>
          <li>Leal y alerta</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Thor"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie4.jpg" alt="Chiqui" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Chiqui</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Luis Ramírez C.<br><span>La Ceiba, Atlántida</span></p>
        <ul class="card-info">
          <li>Chihuahua</li>
          <li>Adulto (3 años)</li>
          <li>Hembra</li>
          <li>Pequeño (2.8 Kg)</li>
          <li>Vivaz y cariñosa</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Chiqui"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie5.jpg" alt="Toby" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Toby</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Sofia Rivera M.<br><span>Ciudad de México, México</span></p>
        <ul class="card-info">
          <li>Golden Retriever</li>
          <li>Joven (2 años)</li>
          <li>Macho</li>
          <li>Grande (30 Kg)</li>
          <li>Dulce y juguetón</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Toby"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie6.jpg" alt="Rocky" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Rocky</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Jose Fernández R.<br><span>El Progreso, Yoro</span></p>
        <ul class="card-info">
          <li>Bulldog Inglés</li>
          <li>Adulto (5 años)</li>
          <li>Macho</li>
          <li>Mediano (20 Kg)</li>
          <li>Relajado y noble</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Rocky"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/cutiepie7.jpg" alt="Bruno" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Bruno</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Maria López S.<br><span>Santa Rosa de Copán, Copán</span></p>
        <ul class="card-info">
          <li>Schnauzer Miniatura</li>
          <li>Adulta (3 años)</li>
          <li>Macho</li>
          <li>Pequeño (7 Kg)</li>
          <li>Curioso y activo</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Bruno"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie8.jpg" alt="Zeus" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Zeus</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Juan Pérez D.<br><span>Choluteca, Choluteca</span></p>
        <ul class="card-info">
          <li>Pitbull Terrier</li>
          <li>Adulto (4 años)</li>
          <li>Macho</li>
          <li>Mediano (18 Kg)</li>
          <li>juguetón y leal</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Zeus"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie9.jpg" alt="Lola" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Lola</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Karen Castro V.<br><span>Roatán, Islas de la Bahía</span></p>
        <ul class="card-info">
          <li>Beagle</li>
          <li>Joven (1 año)</li>
          <li>Hembra</li>
          <li>Mediano (12 Kg)</li>
          <li>Alegre y olfativa</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Lola"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie10.jpg" alt="Kaiser" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Kaiser</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Roberto Mejía N.<br><span>Danlí, El Paraíso</span></p>
        <ul class="card-info">
          <li>Boxer</li>
          <li>Adulto (3 años)</li>
          <li>Macho</li>
          <li>Grande (25 Kg)</li>
          <li>Activo y protector</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Kaiser"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie11.jpg" alt="Pancho" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Pancho</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Gabriela Torres L.<br><span>Siguatepeque, Comayagua</span></p>
        <ul class="card-info">
          <li>Dashshund</li>
          <li>Adulto (4 años)</li>
          <li>Macho</li>
          <li>Pequeño (6 Kg)</li>
          <li>Divertido y terco</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Pancho"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie12.jpg" alt="Loki" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Loki</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Diego Herrera P.<br><span>Tela, Atlántida</span></p>
        <ul class="card-info">
          <li>Husky Siberiano</li>
          <li>Joven (2 años)</li>
          <li>Macho</li>
          <li>Grande (24 Kg)</li>
          <li>Curioso y enérgetico</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Loki"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie13.jpg" alt="Mimi" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Mimi</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Laura Sánchez G.<br><span>Copán Ruinas, Copán</span></p>
        <ul class="card-info">
          <li>Poodle Estándar</li>
          <li>Adulto (5 años)</li>
          <li>Hembra</li>
          <li>Mediano (15 Kg)</li>
          <li>Inteligente y dulce</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Mimi"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie14.jpg" alt="Dally" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Dally</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Oscar Mendoza R.<br><span>Juticalpa, Olancho</span></p>
        <ul class="card-info">
          <li>Dalmata</li>
          <li>Adulto (3 años)</li>
          <li>Hembra</li>
          <li>Grande (23Kg)</li>
          <li>Juuguetona y atlética</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Dally"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie15.jpg" alt="Canela" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Canela</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Patricia Ruiz M.<br><span>Puerto Cortés, Cortés</span></p>
        <ul class="card-info">
          <li>Cocker Spaniel</li>
          <li>Adulto (4 años)</li>
          <li>Hembra</li>
          <li>Mediano (14 Kg)</li>
          <li>Cariñosa y tranquila</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Canela"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>

     <div class="card">
      <img src="/images/cutiepie16.jpg" alt="Choco" class="card-img">
      <div class="card-body">
        <div class="card-header">
          <h3>Choco</h3>
          <div class="card-actions">
            <span class="likes">2529</span>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
        <p class="autor">Eduardo Castro Z.<br><span>Santa Bárbara, Santa Bárbara</span></p>
        <ul class="card-info">
          <li>Mestizo</li>
          <li>Adulto (5 años)</li>
          <li>Macho</li>
          <li>Mediano (16 Kg)</li>
          <li>Agradecido y fiel</li>
        </ul>
        <button class="btn-adoptar" data-mascota="Choco"><i class="fa-solid fa-paw"></i> ADOPTAR</button>
      </div>
    </div>
  </div>

  <!-- Modal para el formulario de adopción -->
<div id="adopcionModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="modalTitle">Formulario de Adopción</h2>
    <form id="formularioAdopcion">
      <input type="hidden" id="mascotaNombre" name="mascotaNombre" value="">
      
      <div class="form-group">
        <label for="nombre">Nombre completo:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
      </div>
      
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
      </div>
      
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
      </div>
      
      <div class="form-group">
        <label for="experiencia">Experiencia previa con mascotas:</label>
        <textarea id="experiencia" name="experiencia"></textarea>
      </div>
      
      <div class="form-group">
        <label for="razon">¿Por qué quieres adoptar esta mascota?</label>
        <textarea id="razon" name="razon" required></textarea>
      </div>
      
      <button type="submit" class="btn-enviar">Enviar solicitud</button>
    </form>
  </div>
</div>

<!-- Mensaje de confirmación -->
<div id="confirmacionModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>¡Gracias por tu interés!</h2>
    <p id="mensajeConfirmacion">Hemos recibido tu solicitud de adopción para <span id="nombreMascotaConfirmacion"></span>. Nos pondremos en contacto contigo pronto.</p>
    <button id="cerrarConfirmacion" class="btn-enviar">Aceptar</button>
  </div>
</div>

</section>
