<header>
  <div class="navbar">
    <div class="navbar-left">
      <h1>ARI HN</h1>
      <img src="../images/Ari_logo.png" alt="Logo de la fundacion" />
    </div>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </label>
    <div class="navbar-start">
      <a href="/index.html" class="navbar-item">Inicio</a>
      <div class="dropdown">
        <a href="#" class="navbar-item dropdown-toggle">Nuestros Programas</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Adopcion</a>
          <a href="#" class="dropdown-item">Como apoyarnos</a>
        </div>
      </div>
      <a href="#" class="navbar-item">Blog</a>
      <a href="#" class="navbar-item">Galeria</a>
      <div class="dropdown">
         <a href="#" class="navbar-item dropdown-toggle">Acerca de nosotros</a>
        <div class="dropdown-menu">
          <a href="/Eventos.html" class="dropdown-item">Eventos</a>
          <a href="#" class="dropdown-item">Contactanos</a>
          <a href="#" class="dropdown-item">Conocenos</a>
          <a href="faq.html" class="dropdown-item">Preguntas frecuentes</a>
        </div>
      </div>
    </div>
  </div>
</header>