<h1 class="contact-title">Contactanos<span> / Contact us</span></h1>
<section class="social-cards">
  <div class="card youtube">
    <i class="fa-brands fa-youtube"></i>
    <h3>YouTube</h3>
    <a href="https://www.youtube.com/channel/UCea08yuG74bs6IwPZVUsnxQ" target="_blank">Visita nuestro canal</a>
  </div>
  <div class="card tiktok">
    <i class="fa-brands fa-tiktok"></i>
    <h3>TikTok</h3>
   <a href="https://www.tiktok.com/@organizacion_ari_hn?" target="_blank">Visita nuestro perfil</a>
  </div>
  <div class="card facebook">
    <i class="fa-brands fa-facebook-f"></i>
    <h3>Facebook</h3>
    <a href="https://www.facebook.com/OrganizacionARI" target="_blank">Visita nuestra pagina</a>
  </div>
  <div class="card instagram">
    <i class="fa-brands fa-instagram"></i>
    <h3>Instagram</h3>
    <a href="https://www.instagram.com/organizacion.ari/" target="_blank">Visita nuestra galeria</a>
  </div>
</section>